include COPYING
include LICENSE
include *.rst
graft docs
prune docs/sphinx/source/resources/packages
graft utilities
graft umbra/components
graft umbra/resources
prune umbra/resources/images/builders
global-exclude ._*
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.pyo