[Component]
Name = factory.preferencesManager
Title = Preferences Manager
Module = preferencesManager
Object = PreferencesManager
Rank = 10
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Preferences Manager factory Component.