[Component]
Name = addons.tcpServerUi
Title = TCP Server Ui
Module = tcpServerUi
Object = TCPServerUi
Rank = 15
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = TCP Server addons Ui Component.