[Settings]
verbosityLevel=3
restoreGeometryOnLayoutChange=0
deactivatedComponents=

[Layouts]
restore_layout_geometry=
restore_layout_window_state=
restore_layout_central_widget=false
restore_layout_activeLabel=0
preferences_centric_geometry=
preferences_centric_window_state=
preferences_centric_central_widget=false
preferences_centric_activeLabel=1
startup_centric_geometry=
startup_centric_window_state=
startup_centric_central_widget=true
startup_centric_activeLabel=0
one_geometry=
one_window_state=
one_central_widget=true
one_activeLabel=
two_geometry=
two_window_state=
two_central_widget=true
two_activeLabel=
three_geometry=
three_window_state=
three_central_widget=true
three_activeLabel=
four_geometry=
four_window_state=
four_central_widget=true
four_activeLabel=
five_geometry=
five_window_state=
five_central_widget=true
five_activeLabel=
